.todo-container {
  background-color: var(--theme-color);
  color: #fff;
  /* padding: 10px; */
  /* text-align: center; */
  /* max-height: 50px; */
  /* height: 50px; */
  padding: 0rem 2rem;
  margin: 0 auto;
}
